{{template "base".}}
{{define "title"}}Piedra papel o tijera{{end}}
{{define "content"}}
<section class="container py-3">
    <h1 class="display-4 fw-bold py-3 text-center">Bienvenido a Piedra Papel o Tijera</h1>
    <div class="row">
        <div class="col-md-4">
            <img src="/static/img/gabita.jpg" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="/static/img/paper_icon.png" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="/static/img/scissors_icon.png" class="img-fluid">
        </div>
    </div>

    <p class="lead texr-center fs-2 py-4">Juega contra la computadora</p>
<a href="/new" class="btn btn-success btn-lg">Nuevo Juego</a>
</section>
<section class="container py-5">
    <h2 class="mb-4">Como se juega?</h2>
    <ol>
        <li class="list-group-item">Crear un juego nuevo.</li>
        <li class="list-group-item">Ingrese su nombre.</li>
        <li class="list-group-item">Empiece a jugar</li>
    </ol>
</section>
{{end}}