{{template "base".}}
{{define "title"}}New Game{{end}}
{{define "content"}}
<section>
    <div class="container">
        <div class="row">
            <h2 class="text-center py-4">Ingrese su nombre</h2>
        </div>
        <form action="/game" method="POST">
            <div class="mb-3">
                <input type="text" required name="name" placeholder="ingrese su nombre" id="name" class="form-control">
            </div>
            <div class="d-grid gap-2 py-4">
                <buttom type="submit" class="btn btn-success btn-lg">Empezar a Jugar</buttom>
            </div>
        </form>
    </div>
</section>
{{end}}